<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvcMember</display-name>
  
  <servlet>
  	<servlet-name>ControlServlet</servlet-name>
  	<servlet-class>com.control.ControlServlet</servlet-class>
			<!-- properties 파일 연결하기.  -->
  		<init-param>
  			<param-name></param-name>
  			<param-value>/Applications/study/java_ee/workspace/mvcMember/src/main/webapp/WEB-INF/command.properties</param-value>
  		</init-param>
  		
  		
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControlServlet</servlet-name>
  	<url-pattern>*.do</url-pattern> <!-- 앞에 어떤 주소가 오던, 뒤가 .do로 끝나면 ControlServlet으로 요청이 간다.  -->
  	<!-- http://localhost:8080/mvcMember/~~~.do -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>