@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
		
img {
	cursor: pointer;
}

section {
	margin: 60px 300px 60px 200px;
	
}

article {
	border: 1px solid #333333;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	display: flex;
	max-width: 100%; /* 최대 너비를 100%로 설정하여 부모 요소에 맞게 조절 */
 	overflow: hidden; /* 내용이 넘칠 경우 가려진 부분을 숨김 */
}

article img {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	border-radius: 50%;
}

.image {
	width: 100%; /* 이미지의 너비를 100%로 설정하여 부모 요소에 맞게 조절 */
 	height: auto; /* 이미지의 높이를 자동으로 조절하여 가로 세로 비율 유지 */
 	object-fit: cover; /* 이미지의 가로 세로 비율을 유지하면서, 부모 요소에 꽉 채움 */
	margin-right: 50px;
	border-radius: 10px;
}
.content-info {
	font-size: 12px;
}

.content-info p {
	color: #000;
	font-weight: 600;
	display: flex;
	margin-bottom: 3px;
	font-size: 17px;
}

.content-info span {
	color: #000;
	font-weight: 400;
	display: flex;
	margin-top: 2px;
	margin-left: 7px;
	font-size: 12px;
}


h1 {
	font-size: 28px;
	margin: 0;
}
		
h2 {
	font-size: 24px;
	margin: 0;
}

.subject {
	font-size: 15px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin: 0 0 10px 0;
}
		
		
form {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #333333;
	border-radius: 5px;
	resize: none;
}

input[type="submit"] {
	background-color: #333333;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

input[type="submit"]:hover {
	background-color: #FFFFFF;
	color: #333333;
}