@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap);

/* 헤더 스타일 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2477cb;
}



h1 {
  /* font-size: 2rem; */
  color: white;
  font: 2rem Merienda, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin:  0;
  padding: 0;
}

nav li {
  margin: 0 80px;
  position: relative; /* 부모 요소를 relative로 설정 */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  
}

nav a:hover {
  color: #777;
}

nav ul ul {
  position: absolute; /* 자식 요소를 absolute로 설정 */
  top: 100%; /* 부모 요소 아래쪽에 위치시킴 */
  left: 0;
  display: none; /* 초기에는 보이지 않게 함 */
  min-width: 120px;
  padding: 5px 0;
  background-color: lightgray; /* 백그라운드 컬러 변경 */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
  display: block; /* 마우스를 올린 li의 자식 ul을 나타나게 함 */
}

nav ul ul li {
  display: block;
  margin: 0;
  padding: 0;
}

nav ul ul li a {
  display: block;
  padding: 10px;
  color: black; /* 글자색 변경 */
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul ul li a:hover {
  background-color: #f7f7f7;
}

nav ul ul li:hover a {
  color: red; /* 마우스를 올린 메뉴 아이템의 텍스트 컬러 */
}

/* header */
/* 추가된 스타일 */
.container {
  display: flex;
  flex-direction: row;
  height:300px;
  border-collapse: collapse;
  
    
}

.tab {
  width: 200px;
  float: left;
  
}

.tab button {
justify-content: space-between;
  background-color: lightgray;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  color: #999;
  display:inline;
  
}

.tab button:hover {
  color: #000;
}

.tab button.active {
  background-color: transparent;
  border: none;
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}

.tabcontent {
  
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}


.gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 200px);
}

.image-container {
  width: 30%;
  border: none;
}

.image-container img {
  max-width: 100%;
}

.image-container p {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}





/* footer start */
#footer{
   border-top: 1px solid #cccccc;
   padding: 18px 30px 40px 20px;
   color: #666;
   font-size: 0.9em;
    border-top: none;
   
}
#footer:after {
   content: '';
   display: block;
   clear: both;
}
.btmnav{
   float: right;
}
.btmnav dd {
   float:left;
}
.btmnav dd:after {
   padding: 0 0.3em;
   color: #999;
}
.btmnav dd:last-child:after {
   content: '';
   padding: 0 0;
}
.copy{
   float: left;
   line-height: 1.8;
   
}
/* footer end */
/* main 사진 */
.mainImage img {
  width: 100%;
  height: 300px;
}
/* 메인사진 끝 */

/* 원 이미지 3개 */
.gallery-images {
  display: flex;
  justify-content: center;
}

.gallery-images .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-images .image-container img {
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 10px;
  width: 150px;
  height: 150px;
}

.gallery-images .image-container p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.gallery-images .image-container + .image-container {
  margin-left: 20px;
}


